body {
  width: auto;
  height: fit-content;
  background: #549752;
  opacity: 1;
  position: sticky;
  overflow: hidden;
}

span {
  width: 545px;
  color: #ffe486;
  position: sticky;
  left: 840px;
  font-family: Fascinate Inline;
  font-weight: Regular;
  font-size: 70px;
  text-align: center;
}

.base {
  width: 100%;
  height: 1100px;
  background: url("../images/base.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 80px;
  transform: rotate(-5deg);
  overflow: hidden;
}

.filter button{
 position: fixed;
 bottom: 5%;
 right: 5%;
 
}

.filterBackground{
  position: absolute;
width: 431px;
height: 546px;
left: 1049px;
top: 436px;
background: #8FC67C;
border-radius: 10px 10px 0px 0px;
}

.locations{
  min-width: 2500px;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 300px;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  position: contain;
  overflow: hidden;
}
.alebrijes {
  width: 140px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 700px;
  left: 700px;
  overflow: hidden;
}

.bakery {
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 300px;
  left: 530px;
  overflow: hidden;
}

.oakes-cafe {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 650px;
  left: 300px;
  overflow: hidden;
}

.c10-dhall {
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 900px;
  overflow: hidden;
}

.global-cafe {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 450px;
  left: 750px;
  overflow: hidden;
}

.coffee {
  width: 150px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 360px;
  left: 950px;
  overflow: hidden;
}

.cowell-dhall {
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 350px;
  left: 1300px;
  overflow: hidden;
}

.crown-dhall {
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 1200px;
  overflow: hidden;
}

.merrill-market {
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 1320px;
  overflow: hidden;
}

.perks1 {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 380px;
  overflow: hidden;
}

.perks2 {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 250px;
  left: 360px;
  overflow: hidden;
}

.perks3 {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 150px;
  left: 750px;
  overflow: hidden;
}

.porter-dhall {
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 450px;
  left: 30px;
  overflow: hidden;
}

.porter-market {
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 550px;
  left: 30px;
  overflow: hidden;
}

.pupusa {
  width: 150px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 260px;
  left: 950px;
  overflow: hidden;
}

.snb {
  width: 160px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 2px;
  left: 500px;
  overflow: hidden;
}

.togos {
  width: 120px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 220px;
  left: 520px;
  overflow: hidden;
}

button{
  display: inline-block;
  text-align: center;
  cursor:pointer;
  align-items: flex-start;
  box-sizing: content-box;
  background-color: transparent;
  padding: 1px 6px;
  border: none;
}

.grow button{
transition: 1s ease;
}

.grow:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
  }
